@red_color : #f14b39;
@header_white: #FFF;
@dark: #2a2a2a;
@font_homenaje:'Homenaje', sans-serif;
@normal_text_size:26px;

.expertus-bar{
	height: 100px;
	background: @header_white;
	border-radius: 0;
	div.logo{
		img{
			margin-left: 12.5%;
			margin-top: 15px;
		}
	}
	.menu-landing-page{
		margin-top: -45px;
		margin-right: 12.5%;
		ul{
			list-style:none;
			li{
				float:left;
				padding-right: 20px;
			}
		}
		a{
			float: left;
			color: @red_color;
			font-family:@font_homenaje;
			font-size: @normal_text_size;
		}	
	}
}

.expertus-bar-bottom{
	height: 100px;
	border: none;
	border-radius: 0;
	background: @dark;
	.header-text{
		color: @red_color;
		font-family:@font_homenaje;
		font-size: 46px;
		margin-top: 40px;
		margin-left: 12.5%;
	}
}
.start-img{
	margin-top: -30px;
	margin-right: 12.5%;
}
.grig-images-landing{
	width: 100%;
	margin-top: -20px;
	padding-bottom: 37px;
	background: @dark;
	height: 450px;
	margin-right: auto;
	margin-left: auto;
	img{
		float: left;
		width: 12.5%;
		height: 150px;
	}
}
.steps{
	height: 600px;
}
.footer{
	height: 100px;
	background: @dark;
}