@red_color : #f14b39;
@header_white: #FFF;
@dark: #2a2a2a;
@font_homenaje:'Homenaje', sans-serif;
@normal_text_size:26px;

.expertus-bar{
	height: 100px;
	background: @header_white;
	border-radius: 0;
	div.logo{
		img{
			margin-left: 12.5%;
			margin-top: 15px;
		}
	}
	.menu-landing-page{
		margin-top: -45px;
		margin-right: 12.5%;
		ul{
			list-style:none;
			li{
				float:left;
				padding-right: 20px;
			}
		}
		a{
			float: left;
			color: @red_color;
			font-family:@font_homenaje;
			font-size: @normal_text_size;
		}	
	}
}

.expertus-bar-bottom{
	height: 100px;
	border: none;
	border-radius: 0;
	background: @dark;
	.header-text{
		color: @red_color;
		font-family:@font_homenaje;
		font-size: 46px;
		margin-top: 40px;
		margin-left: 12.5%;
	}
	.red-line{
		border-top:  @red_color 1px solid;
		width: 15%;
		margin-top: -8px;
	}
}
.start-img{
	margin-top: -30px;
	margin-right: 12.5%;
}
.grig-images-landing{
	width: 100%;
	margin-top: -20px;
	padding-bottom: 37px;
	background: @dark;
	height: 450px;
	margin-right: auto;
	margin-left: auto;
	img{
		float: left;
		width: 12.5%;
		height: 150px;
		opacity: 0.9;
		&:hover{
			opacity: 1.0;
		}
	}
}
.steps{
	height: 1150px;	
	.step-one{
		margin-top: 50px;
		.step-one-text{
			color: #3BC7C8;
			font-family:@font_homenaje;
			margin-top: 18px;
			width: 50%;
			margin-left: 12.5%;
			float: left;
			h1{				
				font-size: 63px;
			}
			.step-text{
				font-size: 26px;
				margin-top: 20px;				
			}
			.separation-line{
				border-bottom: #3BC7C8 1px solid;
				width: 115%;
			}
		}
		.step-one-image{
			float: left;
			width: 25%;			
			margin-right: 12.5%;
		}
	}
	.step-two{
		margin-top: 50px;
		.step-two-text{
			color: #57C64E;
			font-family:@font_homenaje;
			margin-top: 18px;
			width: 45%;
			margin-right: 12.5%;
			margin-left: 5%;
			float: left;
			h1{				
				font-size: 63px;
			}
			.step-text{
				font-size: 26px;
				margin-top: 20px;				
			}
			.separation-line{
				border-bottom: #57C64E 1px solid;
				width: 85%;
				margin-left: -11.5%;
			}
		}
		.step-two-image{
			float: left;
			width: 25%;			
			margin-left: 12.5%;
		}
	}

	.step-three{
		margin-top: 50px;
		.step-three-text{
			color: #FEC538;
			font-family:@font_homenaje;
			margin-top: 18px;
			width: 50%;
			margin-left: 12.5%;
			float: left;
			h1{				
				font-size: 63px;
			}
			.step-text{
				font-size: 26px;
				margin-top: 20px;				
			}
			.separation-line{
				border-bottom: #FEC538 1px solid;
				width: 115%;
			}
		}
		.step-three-image{
			float: left;
			width: 25%;			
			margin-right: 12.5%;
		}
	}
}
.footer{
	height: 100px;
	background: @dark;
	// padding: 10px;
	font-family:@font_homenaje;
	.social{
		margin-left: 12.5%;
		width: 30%;
		height: 80%;
		margin-top: 10px;
		font-size: 18px;
		color:  @red_color;
		border-left: @red_color 1px solid;
		border-right: @red_color 1px solid;
		float: left;

		h4{
			margin-left: 10px;
			margin-top: 30px;
			float: left;
			width: 100%;
			text-align: center;
			a{
				color:  @red_color;
			}
		}
	}
	.line-footer{
		width: 30%;
		margin-top: 40px;
		float: left;
	}
	.copy{
		width: 10%;
		margin-right: 12.5%;
		margin-top: 40px;
		float: left;
		font-size: 18px;
		color:  @red_color;
	}
}