<template name = "header">
    <div class="navbar ">
        <div class="navbar-inner expertus-bar-home">
            <div class="container row-fluid">
                <div class="span6">
                    <div class="logo">
                        <img src="./images/logo.png" alt="">
                    </div>
                </div>
                <div class="span6">
                    <div class="menu-home pull-right">
                    {{> user_info}}
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    {{> mentorship_list}}
</template>

<template name="user_info">
    {{#if currentUser}}
        {{> user_loggedIn}}
    {{else}}
    {{/if}}
</template>

<template name="user_loggedIn">
    {{#if loggingIn}}
        Logging in...
    {{else}}
        <img style="height:32px; width: 32px;" src="{{currentUser.profile.picture}}"/>
        {{currentUser.profile.name}}
        <a href="#" id="logout">Logout</a>
    {{/if}}
</template>
