<template name ="landing_page">
	 <div class="navbar ">
      <div class="navbar-inner expertus-bar">
        <div class="container">
          <!-- <a class="brand logo" href="#"></a>   -->
          <div class="logo"><img src="./images/logo.png" alt=""></div>        
          <div class="menu-landing-page pull-right">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#about">Blog</a></li>
              <li style="padding-right: 0px;"><a href="#contact">Login</a></li>
            </ul>             
          </div>
        </div>
      </div>
      <div class="navbar-inner expertus-bar-bottom">
        <div class="container">
          <div class="header-text">Find experts, they stream answers</div>
          <a href="#" class="pull-right start-img">
            <img src="./images/btn_empezar.png" alt="">
          </a h><!--/.nav-collapse -->
          <div class="red-line pull-right"></div>
        </div>
      </div>
    </div>

    <!-- <div class="container content"> -->

      <div class="grig-images-landing">
        <img src="./images/grid/foto_slide.jpg" alt="">
        <img src="./images/grid/foto_slide-02.jpg" alt="">
        <img src="./images/grid/foto_slide-03.jpg" alt="">
        <img src="./images/grid/foto_slide-04.jpg" alt="">
        <img src="./images/grid/foto_slide-05.jpg" alt="">
        <img src="./images/grid/foto_slide-06.jpg" alt="">
        <img src="./images/grid/foto_slide-07.jpg" alt="">
        <img src="./images/grid/foto_slide-08.jpg" alt="">
        <img src="./images/grid/foto_slide-09.jpg" alt="">
        <img src="./images/grid/foto_slide-10.jpg" alt="">
        <img src="./images/grid/foto_slide-11.jpg" alt="">
        <img src="./images/grid/foto_slide-12.jpg" alt="">
        <img src="./images/grid/foto_slide-13.jpg" alt="">
        <img src="./images/grid/foto_slide-14.jpg" alt="">
        <img src="./images/grid/foto_slide-15.jpg" alt="">
        <img src="./images/grid/foto_slide-16.jpg" alt="">
        <img src="./images/grid/foto_slide-17.jpg" alt="">
        <img src="./images/grid/foto_slide-18.jpg" alt="">
        <img src="./images/grid/foto_slide-19.jpg" alt="">
        <img src="./images/grid/foto_slide-20.jpg" alt="">
        <img src="./images/grid/foto_slide-21.jpg" alt="">
        <img src="./images/grid/foto_slide-22.jpg" alt="">
        <img src="./images/grid/foto_slide-23.jpg" alt="">
        <img src="./images/grid/foto_slide-24.jpg" alt="">
      </div>
      <div class="steps"></div>
      <div class="footer"></div>

    <!-- </div> /container -->
</template>