<template name ="landing_page">
	 <div class="navbar ">
      <div class="navbar-inner expertus-bar">
        <div class="container">
          <a class="brand" href="#"><img src="./images/logo.png" alt=""></a>          
            <ul class="nav pull-right menu-landing-page">
              <li class="active"><a href="#">About</a></li>
              <li><a href="#about">Blog</a></li>
              <li><a href="#contact">Login</a></li>
            </ul>
        </div>
      </div>
      <div class="navbar-inner expertus-bar-bottom">
        <div class="container">
          <div class="header-text">Find experts, they stream answers</div>
          <div class="pull-right header-text">
            hola
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- <div class="container content"> -->

      <div class="grig-images-landing">
        <img src="./images/grid/foto_slide.jpg" alt="">
        <img src="./images/grid/foto_slide-02.jpg" alt="">
        <img src="./images/grid/foto_slide-03.jpg" alt="">
        <img src="./images/grid/foto_slide-04.jpg" alt="">
        <img src="./images/grid/foto_slide-05.jpg" alt="">
        <img src="./images/grid/foto_slide-06.jpg" alt="">
        <img src="./images/grid/foto_slide-07.jpg" alt="">
        <img src="./images/grid/foto_slide-08.jpg" alt="">
        <img src="./images/grid/foto_slide-09.jpg" alt="">
        <img src="./images/grid/foto_slide-10.jpg" alt="">
        <img src="./images/grid/foto_slide-11.jpg" alt="">
        <img src="./images/grid/foto_slide-12.jpg" alt="">
        <img src="./images/grid/foto_slide-13.jpg" alt="">
        <img src="./images/grid/foto_slide-14.jpg" alt="">
        <img src="./images/grid/foto_slide-15.jpg" alt="">
        <img src="./images/grid/foto_slide-16.jpg" alt="">
        <img src="./images/grid/foto_slide-17.jpg" alt="">
        <img src="./images/grid/foto_slide-18.jpg" alt="">
        <img src="./images/grid/foto_slide-19.jpg" alt="">
        <img src="./images/grid/foto_slide-20.jpg" alt="">
        <img src="./images/grid/foto_slide-21.jpg" alt="">
        <img src="./images/grid/foto_slide-22.jpg" alt="">
        <img src="./images/grid/foto_slide-23.jpg" alt="">
        <img src="./images/grid/foto_slide-24.jpg" alt="">
      </div>

    <!-- </div> /container -->
</template>