<template name ="landing_page">
	 <div class="navbar ">
      <div class="navbar-inner expertus-bar">
        <div class="container">
          <!-- <a class="brand logo" href="#"></a>   -->
          <div class="logo"><img src="./images/logo.png" alt=""></div>        
          <div class="menu-landing-page pull-right">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#about">Blog</a></li>
              <li style="padding-right: 0px;"><a href="#contact">Login</a></li>
            </ul>             
          </div>
        </div>
      </div>
      <div class="navbar-inner expertus-bar-bottom">
        <div class="container">
          <div class="header-text">Find experts, they stream answers</div>
          <a href="#" class="pull-right start-img">
            <img src="./images/btn_empezar.png" alt="">
          </a h><!--/.nav-collapse -->
          <div class="red-line pull-right"></div>
        </div>
      </div>
    </div>

    <!-- <div class="container content"> -->

      <div class="grig-images-landing">
        <img src="./images/grid/foto_slide.jpg" alt="">
        <img src="./images/grid/foto_slide-02.jpg" alt="">
        <img src="./images/grid/foto_slide-03.jpg" alt="">
        <img src="./images/grid/foto_slide-04.jpg" alt="">
        <img src="./images/grid/foto_slide-05.jpg" alt="">
        <img src="./images/grid/foto_slide-06.jpg" alt="">
        <img src="./images/grid/foto_slide-07.jpg" alt="">
        <img src="./images/grid/foto_slide-08.jpg" alt="">
        <img src="./images/grid/foto_slide-09.jpg" alt="">
        <img src="./images/grid/foto_slide-10.jpg" alt="">
        <img src="./images/grid/foto_slide-11.jpg" alt="">
        <img src="./images/grid/foto_slide-12.jpg" alt="">
        <img src="./images/grid/foto_slide-13.jpg" alt="">
        <img src="./images/grid/foto_slide-14.jpg" alt="">
        <img src="./images/grid/foto_slide-15.jpg" alt="">
        <img src="./images/grid/foto_slide-16.jpg" alt="">
        <img src="./images/grid/foto_slide-17.jpg" alt="">
        <img src="./images/grid/foto_slide-18.jpg" alt="">
        <img src="./images/grid/foto_slide-19.jpg" alt="">
        <img src="./images/grid/foto_slide-20.jpg" alt="">
        <img src="./images/grid/foto_slide-21.jpg" alt="">
        <img src="./images/grid/foto_slide-22.jpg" alt="">
        <img src="./images/grid/foto_slide-23.jpg" alt="">
        <img src="./images/grid/foto_slide-24.jpg" alt="">
      </div>
      <div class="steps">
        <div class="step-one">
          <div class="step-one-text" >
            <h1>Encuentra Solución</h1>
            <div class="separation-line"></div>
            <div class="step-text">En Expertus puedes encontrar soluciones al día con diferentes especialistas en diversas áreas de conocimiento, o ser tu mismo el experto que brinda ayuda a la comunidad</div>
          </div>
          <div class="step-one-image"><img src="./images/ilustracion_1.jpg" alt=""></div>
        </div>
        <div style="clear:both"></div>

        <div class="step-two">
          <div class="step-two-image"><img src="./images/ilustracion_2.jpg" alt=""></div>
          <div class="step-two-text" >
            <h1>Videollamadas en directo</h1>
            <div class="separation-line"></div>
            <div class="step-text">En Expertus nos comunicamos con videollamdas, creemos que la manera mas efectiva de resolver tus dudas, es mediante una videollamda donde puedas explicarte visual y verbalmente</div>
          </div>         
        </div>
        <div style="clear:both"></div>
        <div class="step-three">
          <div class="step-three-text" >
            <h1>Crea una cuenta</h1>
            <div class="separation-line"></div>
            <div class="step-text">Ingresa con tu cuenta de Gmail o facebook y una vez dentro tienes la posibilidad de crear resolver tus dudas o ayudar a resolver las de alguien mas mediante la creacion de mentorias.</div>
          </div>
          <div class="step-three-image"><img src="./images/ilustracion_3.jpg" alt=""></div>
        </div>

      </div>
      <div class="footer">
        <div class="social">
          <h4>
            <a href="#">FACEBOOK</a>
            <a href="#">TWITTER</a>
            <a href="#">GOOGLE PLUS</a>          
          </h4>
        </div>
        <div class="line-footer">
          <img src="./images/line_footer.png" alt="">
        </div>
        <div class="copy"> &copy; 2013 Expertus</div>
      </div>

    <!-- </div> /container -->
</template>